{{#if user}}
<ul id="messages">
  {{#each messages}}
    <li class="message">{{this}}</li>
  {{/each}}
</ul>

<hr id="bottom-separator"/>
<p id="status">{{status}}</p>

<form id="form" action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
$(function () {
  var socket = io();
  $('form').submit(function(){
    io.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
  socket.on('user connected', function(msg){
    $('#status').text(msg);
  });
  socket.on('user disconnected', function(msg){
    $('#status').text(msg);
  });
});
</script>
{{else}}
Please <a href="/login">Login</a> or <a href="/register">Register</a>.
{{/if}}
