<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      Vault Chat.
      {{#if user}}
        <a href="/logout">Logout</a>
      {{/if}}
    </nav>
    {{{body}}}
    <footer>
      Built by <a href="http://ashmore.io">Stephen Ashmore</a>.
    </footer>
  </body>
</html>
