<form class="login" action="/login" method="post">
  <table class="login">
    <tr>
      <td>Username: <input type="text" name="username"></td>
      <td rowspan="2"><button class="login">Login</button></th>
    </tr>
    <tr>
      <td>Password: <input type="password" name="password"></td>
    </tr>
  </table>
</form>
